.book-table[data-pattern="true"]
  .book-table__main
    .container
      .book-table__item
        .candia-heading.candia-heading--white
          .candia-heading__main
            span.candia-category
              | бронирование
            h2.mb-20
              | Заказать стол
            .candia-line
            p.fz-16
              | Выберите дату бронирования и укажите время и количество людей, чтобы заказать столик
      .book-table__item
        .book-table-form
          = render './reservations/form'
