.candia-info.candia-info--inline.candia-bg.bg-info--inline[data-pattern="true"]
  .container
    .row
      .col-md-4
        .candia-info__item
          .candia-info__icon.candia-color
            i.candia.candia-open
          .candia-info__main
            p.mb-0.dark
              strong
                | Понедельник - Пятница
              |  2pm - 11pm
            p.mb-0.dark
              strong
                | Суббота - Воскресенье
              |  1pm - 12.30am
      .col-md-4
        .candia-info__item
          .candia-info__icon.candia-color
            i.candia.candia-placeholder
          .candia-info__main
            p.mb-0.dark
              strong
                | Эл. адрес
              |  indiancafedelhi@gmail.com
            p.mb-0.dark
              strong
                | Телефон
              |  📞 8(981)701-00-00
      .col-md-3.col-md-offset-1
        .candia-action
          a.btn.btn-primary.btn-icon[href="#"]
            | Забронировать
