body.mjpicker-color-candia
  #page.site.site-primary
    a.skip-link.sr-only[href="#main"]
      | Skip to content
    .candia-commingsoon.candia-bg.bg-commingsoon.candia-bg-overlay
      .candia-commingsoon__main.text-center
        .candia-logo.mb-140
          a[href="index.html"]
            //= image_tag "IndianCafeDehliLogo.png"
        .candia-commingsoon__content
          .container
            .row
              .col-md-10.col-md-offset-1
                h1.color-white
                  | Indian Cafe Delhi Coming Soon
                p.fz-20.color-white.mb-50
                  | Have no fear, we are lauching our web site soon. We just have to do it and cross it
                  br
                  | ~
                .candia-countdown.color-white.mb-150
            .mb-20
              .row
                .col-md-4
                  .widget.color-white
                    span
                      | have question
                    a[href="indiancafedelhi@gmail.com"]
                      | indiancafedelhi@gmail.com
                .col-md-4
                  .widget.color-white
                    span
                      | make a reservations
                    p
                      i.fa.fa-phone[aria-hidden="true"]
                      | +79817010000
                .col-md-4
                  .widget.color-white
                    span
                      | follow us on
                    nav.candia-social
                      a[href="https://www.facebook.com/Indian-Cafe-Delhi-1374553779266477" title="Facebook"]
                        i.fa.fa-facebook[aria-hidden="true"]
                        span.sr-only
                          | Facebook
                      a[href="https://www.instagram.com/indiancafedelhi/" title="Instagram"]
                        i.fa.fa-instagram[aria-hidden="true"]
                        span.sr-only
                          | Instagram
            .copyright.color-white.fz-12
              p
                | © 2017 Indian Cafe Delhi. All Rights Reserved. Made with love by

    #loader-wrapper
      .loader-section
      #loader
        label
          |  ●
        label
          |  ●
        label
          |  ●
        label
          |  ●
        label
          |  ●
        label
          |  ●
