- title "IndianCafeDelhi Saint Petersburg"
- meta_tag :description, "IndianCafeDelhi Saint Petersburg"
- meta_tag :keywords, "IndianCafeDelhi Saint Petersburg"

.container
  .jumbotron
    h2.display-3.text-center
      | Contact with us
    p.lead.text-center
      h4
        | Address
      address

      ul.list-unstyled
        li
          |  Saint Petersburg
          br
          |  Razyezzhaya ul., 7
          br
          |  Russia
          br
        li
          |  Mobile: 8 (981) 701-00-00
    hr.my-4
