#page.site.site-default
  a.skip-link.sr-only[href="#main"]
    | Skip to content
  = render 'layouts/header'
  .site-main
    #rev_slider_202_1_wrapper.rev_slider_wrapper.fullscreen-container[data-alias="concept1" style="background-color:#000000;padding:0px;"]
      #rev_slider_202_1.rev_slider.fullscreenbanner[style="display:none;" data-version="5.1.1RC"]
        ul
          li[data-index="rs-670" data-transition="slideoverup" data-slotamount="7" data-easein="default" data-easeout="default" data-masterspeed="1000" data-rotate="0" data-saveperformance="off" data-title="Opening TImes" data-description=""]
            img.rev-slidebg[src="/assets/img-demo/slides/banner1.jpg" alt="Candia Image" data-bgposition="left center" data-kenburns="on" data-duration="30000" data-ease="Power1.easeOut" data-scalestart="110" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-no-retina]
            #slide-672-layer-1.tp-caption.tp-shape.tp-shapewrapper[data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full" data-height="full" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="opacity:0;s:1000;e:Power2.easeInOut;" data-transform_out="opacity:0;s:1000;s:1000;" data-start="0" data-basealign="slide" data-responsive_offset="off" data-responsive="off" style="z-index: 5;background-color:rgba(0, 0, 0, 0.5);border-color:rgba(0, 0, 0, 0);"]

            #slide-83-layer-1.tp-caption.Restaurant-Cursive.tp-resizeme[data-x="['right','right','center','center']" data-hoffset="['50','50','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['40','40','40','40']" data-fontsize="['60','60','50','40']" data-lineheight="['70','70','50','50']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeOut;" data-transform_out="opacity:0;s:1000;s:1000;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap; font-family: 'Playfair Display', serif; text-align: center; "]
              |
              br
              | Еда для души
            #slide-83-layer-2.tp-caption.Restaurant-Price.tp-resizeme[data-x="['right','right','center','center']" data-hoffset="['190','190','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['150','150','150','150']" data-fontsize="['20','20','20','20']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeOut;" data-transform_out="opacity:0;s:1000;s:1000;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-start="1100" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap; letter-spacing: 0;"]
              |
          li[data-index="rs-671" data-transition="slideoverup" data-slotamount="7" data-easein="default" data-easeout="default" data-masterspeed="1000" data-rotate="0" data-saveperformance="off" data-title="Opening TImes" data-description=""]
            img.rev-slidebg[src="/assets/img-demo/slides/banner2.jpg" alt="Candia Image" data-bgposition="left center" data-kenburns="on" data-duration="30000" data-ease="Power1.easeOut" data-scalestart="110" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-no-retina]
            #slide-671-layer-1.tp-caption.tp-shape.tp-shapewrapper[data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full" data-height="full" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="opacity:0;s:1000;e:Power2.easeInOut;" data-transform_out="opacity:0;s:1000;s:1000;" data-start="0" data-basealign="slide" data-responsive_offset="off" data-responsive="off" style="z-index: 5;background-color:rgba(0, 0, 0, 0.5);border-color:rgba(0, 0, 0, 0);"]

            #slide-671-layer-2.tp-caption.Restaurant-Display.tp-resizeme[data-x="['left','left','center','center']" data-hoffset="['50','50','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-50','-50','-50','-50']" data-fontsize="['20','20','15','15']" data-lineheight="['20','20','20','20']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeOut;" data-transform_out="opacity:0;s:1000;s:1000;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-start="700" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 5; font-weight: 500; white-space: nowrap; color: white; letter-spacing: 4px;"]
              |
            #slide-671-layer-3.tp-caption.Restaurant-Cursive.tp-resizeme[data-x="['left','left','center','center']" data-hoffset="['50','50','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['40','40','40','40']" data-fontsize="['60','60','50','40']" data-lineheight="['70','70','50','50']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeOut;" data-transform_out="opacity:0;s:1000;s:1000;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap; font-family: 'Playfair Display', serif; "]
              | всегда свежая продукция
            #slide-671-layer-4-1.tp-caption.Restaurant-Cursive.tp-resizeme[data-x="['left','left','center','center']" data-hoffset="['50','50','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['110','110','110','110']" data-fontsize="['60','60','50','40']" data-lineheight="['70','70','50','50']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeOut;" data-transform_out="opacity:0;s:1000;s:1000;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap; font-family: 'Playfair Display', serif; "]
              | вегетарианские блюда
            #slide-671-layer-5.tp-caption.Restaurant-Price.tp-resizeme[data-x="['left','left','center','center']" data-hoffset="['50','50','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['210','210','210','210']" data-fontsize="['20','20','20','20']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeOut;" data-transform_out="opacity:0;s:1000;s:1000;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-start="1100" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap; letter-spacing: 0;"]
              |
          li[data-index="rs-673" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-rotate="0" data-saveperformance="off" data-title="Web Show" data-description=""]
            img.rev-slidebg[src="/assets/img-demo/slides/banner3.jpg" alt="Candia Image" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" data-no-retina]
            #slide-673-layer-1.tp-caption.tp-shape.tp-shapewrapper[data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full" data-height="full" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="opacity:0;s:1000;e:Power2.easeInOut;" data-transform_out="opacity:0;s:1000;s:1000;" data-start="0" data-basealign="slide" data-responsive_offset="off" data-responsive="off" style="z-index: 5;background-color:rgba(0, 0, 0, 0.5);border-color:rgba(0, 0, 0, 0);"]

            #slide-672-layer-4.tp-caption.tp-resizeme.rs-parallaxlevel-2[data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-65','-65','-65','-65']" data-fontsize="['20','20','15','15']" data-lineheight="['20','20','20','20']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;" data-start="1500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; font-weight: 500; white-space: nowrap; color: white; letter-spacing: 4px;"]
              | кальяны и коктели
            #slide-672-layer-2.tp-caption.Concept-Title.tp-resizeme.rs-parallaxlevel-2[data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-fontsize="['60','60','50','40']" data-lineheight="['70','70','50','45']" data-width="['none','none','none','400']" data-height="none" data-whitespace="['nowrap','nowrap','nowrap','normal']" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;" data-start="1700" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap;text-align:center; font-weight: 400; font-family: 'Playfair Display', serif; letter-spacing: 0;"]
              |
            #slide-672-layer-5.tp-caption.tp-shape.tp-shapewrapper.tp-resizeme.rs-parallaxlevel-2[data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['88','80','70','70']" data-width="60" data-height="2" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:1500;e:Power3.easeOut;" data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;" data-mask_in="x:[-100%];y:0;s:inherit;e:inherit;" data-start="1900" data-responsive_offset="on" style="z-index: 8;background-color:rgba(255, 255, 255, 1.00);border-color:rgba(0, 0, 0, 0.50);"]

            #slide-672-layer-12.tp-caption.Concept-Notice.rs-parallaxlevel-2[data-x="['center','center','center','center']" data-hoffset="['1','1','1','1']" data-y="['top','top','top','top']" data-voffset="['548','497','606','484']" data-fontsize="['20','20','18','13']" data-lineheight="['30','30','30','30']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power3.easeInOut;" data-transform_out="auto:auto;s:300;" data-start="2300" data-splitin="none" data-splitout="none" data-responsive_offset="on" data-responsive="on" data-end="bytrigger" data-lasttriggerstate="reset" style="z-index: 10; white-space: nowrap;text-align:center; font-family: 'Roboto', sans-serif;"]
              .rs-looped.rs-slideloop[data-easing="Power1.easeInOut" data-speed="1" data-xs="0" data-xe="0" data-ys="10" data-ye="0"]
                | Кальянная
                br
                |  Это место создано для вашего отдыха от каменных джунглей
                br
                | ~
          li[data-index="rs-675" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-rotate="0" data-saveperformance="off" data-title="Web Show" data-description=""]
            img.rev-slidebg[src="/assets/img-demo/slides/banner4.jpg" alt="Candia Image" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" data-no-retina]
            #slide-675-layer-1.tp-caption.tp-shape.tp-shapewrapper[data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full" data-height="full" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="opacity:0;s:1000;e:Power2.easeInOut;" data-transform_out="opacity:0;s:1000;s:1000;" data-start="0" data-basealign="slide" data-responsive_offset="off" data-responsive="off" style="z-index: 4;background-color:rgba(0, 0, 0, 0.5);border-color:rgba(0, 0, 0, 0);"]

            #slide-675-layer-2.tp-caption.tp-resizeme.rs-parallaxlevel-2[data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-100','-100','-100','-100']" data-fontsize="['12','12','12','12']" data-lineheight="['30','30','30','30']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;" data-start="1200" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 5; white-space: nowrap; color: white; letter-spacing: 3px;"]
              i.fa.fa-star[aria-hidden="true"]
              i.fa.fa-star[aria-hidden="true"]
              i.fa.fa-star[aria-hidden="true"]
              i.fa.fa-star[aria-hidden="true"]
              i.fa.fa-star[aria-hidden="true"]
            #slide-675-layer-3.tp-caption.tp-resizeme.rs-parallaxlevel-2[data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-85','-85','-85','-85']" data-fontsize="['20','20','15','15']" data-lineheight="['20','20','20','20']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;" data-start="1500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; font-weight: 500; white-space: nowrap; color: white; letter-spacing: 4px;"]
              br
              | -  ИНДИЙСКОЕ КАФЕ ДЕЛИ   -

            #slide-675-layer-4.tp-caption.Concept-Title.tp-resizeme.rs-parallaxlevel-2[data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-fontsize="['60','60','50','40']" data-lineheight="['70','70','50','45']" data-width="['none','none','none','400']" data-height="none" data-whitespace="['nowrap','nowrap','nowrap','normal']" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;" data-start="1700" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap;text-align:center; font-weight: 400; font-family: 'Playfair Display', serif; letter-spacing: 0;"]
              |
            #slide-675-layer-5.tp-caption.rev-btn.rs-parallaxlevel-2[data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['502','452','541','417']" data-width="none" data-height="none" data-whitespace="nowrap" data-start="2100" data-splitin="none" data-splitout="none" data-responsive_offset="on" data-responsive="off" data-end="bytrigger" data-lasttriggerstate="reset" style="z-index: 9; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;"]
              .rs-looped.rs-slideloop[data-easing="Power1.easeInOut" data-speed="1" data-xs="0" data-xe="0" data-ys="10" data-ye="0"]
                a.btn.btn-default.btn-w200[href="#"]
                  | добро пожаловать
          li[data-index="rs-82" data-transition="slideoverup" data-slotamount="7" data-easein="default" data-easeout="default" data-masterspeed="1500" data-thumb="videos/cover-video.jpg" data-rotate="0" data-saveperformance="off" data-title="Drinks" data-description=""]
            img.rev-slidebg[src="/assets/videos/cover-video.jpg" alt="Candia Image" data-lazyload="videos/cover-video.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-no-retina]
            #slide-82-layer-1.tp-caption.tp-shape.tp-shapewrapper[data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full" data-height="full" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="opacity:0;s:1000;e:Power2.easeInOut;" data-transform_out="opacity:0;s:1000;s:1000;" data-start="0" data-basealign="slide" data-responsive_offset="off" data-responsive="off" style="z-index: 4;background-color:rgba(0, 0, 0, 0.5);border-color:rgba(0, 0, 0, 0);"]

            .rs-background-video-layer[data-volume="mute" data-videowidth="100%" data-videoheight="100%" data-videoposter="videos/cover-video.jpg" data-videomp4="videos/Food - 1094.mp4" data-videopreload="preload" data-videoloop="loop" data-videostartat="00:28" data-forcecover="1" data-aspectratio="16:9" data-autoplay="true" data-autoplayonlyfirsttime="false" data-nextslideatend="true"]
        .tp-bannertimer.tp-bottom[style="visibility: hidden !important;"]
      .candia-info.candia-info--inline.candia-bg.bg-info--inline[data-pattern="true"]
        .container
    = render 'reservations'
    .pt-100
      .container
        .row
          .col-md-6
            .text-center.pt-md-65.mb-30
              .candia-heading
                .candia-heading__main
                  span.candia-category
                    | обнаружить
                  h2.mb-20
                    | ИНДИЙСКОЕ КАФЕ ДЕЛИ История
                  .candia-line.mb-10
              p.fz-16.mb-50
                | Начиная с VI века до н. э. на территории Индии появилось множество Махаджанападов — независимых княжеств и республик[2]. В III веке до н. э. большая часть Южной Азии объединилась в Империю Маурьев под управлением Чандрагупты Маурьи. Наибольшего расцвета империя достигла при правлении буддийского царя Ашоки[3]. В начале II века до н. э. Индия пережила череду нападений со стороны Центральной Азии, результатом которых стало образование на территории Индийского субконтинента Индо-греческого, Индо-скифского и Индо-парфянского царств, а также Кушанской империи. В III веке начался период правления династии Гуптов, который принято считать «золотым веком» Индии
              a.btn.btn-primary.btn-w200[href="#"]
                | Хотите узнать больше
          .col-md-6
            .text-center
              img[src="/assets/img-demo/utils/story.jpg" alt="Candia Image"]
    .pt-90.pb-75
      .container
        .row
          .col-md-4
            .service.text-center
              p.fz-50.candia-color
                i.candia.candia-fish
              h5.mb-25
                | Вкусная еда
              p.fz-16
                | Я впервые сделал этот рецепт для моей второй поваренной книги, но сделал это много раз, потому что, честно говоря, это один из самых безумно вкусных рецептов, которые я когда-либо создавал, и вы, ребята.
          .col-md-4
            .service.text-center
              p.fz-50.candia-color
                i.candia.candia-cooker
              h5.mb-25
                | Профессиональное обслуживание
              p.fz-16
                | Это так просто. Сам салат состоит из нескольких ингредиентов, и хотя салатная заправка требует еще нескольких, это то, что вы должны иметь в своей кладовой.
          .col-md-4
            .service.text-center
              p.fz-50.candia-color
                i.candia.candia-menus
              h5.mb-25
                | Отличное меню
              p.fz-16
                | Единственный ингредиент, который я не имею под рукой во все времена, - это пальмовый сахар, но мягкий коричневый сахар или мед сделают отличные заменители. Продукт обеспечивает индивидуальное качество.
    .candia-bg.pt-100.pb-100.bg-menu
      .container
        .row
          .col-md-6.col-md-offset-3
            .text-center
              .candia-heading.mb-80
                .candia-heading__main
                  span.candia-category
                    | наслаждаться
                  h2.mb-20
                    | Меню выбора шеф-повара
                  .candia-line.mb-10
                  p.fz-16
                    |
        .mb-30
          .row
            .col-md-5
              .mb-40
                h5.text-center.mb-35
                  | Горячие Меню
                - @foods_mix.each do |fm|
                  .candia-catalog
                  .candia-catalog__left
                    h6.candia-catalog__name
                      = fm.name
                    p
                  .candia-catalog__right
                    .candia-catalog__price.custom_rpice
                      = fm.price.to_i
                      = " "
                    i.fa.fa-rub
                  /.candia-catalog
                  /  .candia-catalog__left
                  /    h6.candia-catalog__name
                  /      | Brandade
                  /    p
                  /      | Our board of specials evolves on a daily
                  / basis according to what is sourced at the fish market that morning.
            .col-md-5.col-md-offset-2
              .mb-40
                h5.text-center.mb-35
                  | Десерты Меню
                - @foods_decerts.each do |fs|
                  .candia-catalog
                  .candia-catalog__left
                    h6.candia-catalog__name
                      = fs.name
                    p
                  .candia-catalog__right
                    .candia-catalog__price.custom_rpice
                      = fs.price.to_i
                      = " "
                    i.fa.fa-rub

        .text-center
          = link_to 'Просмотреть все меню', menu_path, class: 'btn btn-primary btn-w200'
    .special-menu.slick-big[data-init="slick" data-infinite="false"]
      .special-menu__item.candia-bg.candia-bg-overlay.bg-special-1.text-center
        .container
          h1.color-white.mb-5
            | Бизнес ланч 210
            = " "
            .i.fa.fa-rub
          .row
            - @business_lunch.each do |bl|
              .col-sm-3.text-left
                h5.color-white.mb-5 = bl.name
                - bl.foods.all.where(price: "0").each do |food|
                  p.fz-16.color-white
                    = food.name
          p.text-left.color-white
            | ** 2 основных блюда + напиток(чай или кофе или морс) и десерт(индийский десерт)

      .special-menu__item.candia-bg.candia-bg-overlay.bg-special-2.text-center
        .container
          h1.color-white.mb-5
            | Бизнес ланч 260
            = " "
            i.fa.fa-rub
          .row
            - @business_lunch.each do |bl|
              .col-sm-3.text-left
                h5.color-white.mb-5 = bl.name
                - bl.foods.all.where(price: "0").each do |food|
                  p.fz-16.color-white
                    = food.name
          p.text-left.color-white
            | *** 3 основных блюда + напиток(чай или кофе или морс) и десерт(индийский десерт)

    = render 'book_a_table'
    / This is Comming Events
    /.pt-90.candia-bg
    /  .container
    /    .row
    /      .col-md-6.col-md-offset-3
    /        .candia-heading.mb-80
    /          .candia-heading__main
    /            span.candia-category
    /              | enjoy with us
    /            h2.mb-20
    /              | Upcomming Events
    /            .candia-line.mb-10
    /            p.fz-16
    /              | Our board of specials evolves on a daily basis according to what is sourced at the fish market that morning.
    /    .row
    /      .col-md-10.col-md-offset-1
    /        .js-event-gallery.event-gallery.slick-big.slick-animation.slick-dark
    /          .event
    /            header.event-header
    /              .event-media
    /                a[href="#"]
    /                  img[src="/assets/img-demo/events/7.jpg" alt="Candia Image"]
    /              .event-countdown
    /                span.candia-countdown
    /            .event-container
    /              .row
    /                .col-md-8.col-md-offset-2
    /                  .event-time
    /                    | october 7, 2016
    /                  h5.event-title
    /                    a[href="#"]
    /                      | Tasted New Brialiton Food
    /                  .event-description.fz-16
    /                    p
    /                      | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident...
    /          .event
    /            header.event-header
    /              .event-media
    /                a[href="#"]
    /                  img[src="/assets/img-demo/events/8.jpg" alt="Candia Image"]
    /              .event-countdown
    /                span.candia-countdown
    /            .event-container
    /              .row
    /                .col-md-8.col-md-offset-2
    /                  .event-time
    /                    | october 7, 2016
    /                  h5.event-title
    /                    a[href="#"]
    /                      | Day Of Friends
    /                  .event-description.fz-16
    /                    p
    /                      | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident...
    /          .event
    /            header.event-header
    /              .event-media
    /                a[href="#"]
    /                  img[src="/assets/img-demo/events/8.jpg" alt="Candia Image"]
    /              .event-countdown
    /                span.candia-countdown
    /            .event-container
    /              .row
    /                .col-md-8.col-md-offset-2
    /                  .event-time
    /                    | october 7, 2016
    /                  h5.event-title
    /                    a[href="#"]
    /                      | Month Food Sea In Candia
    /                  .event-description.fz-16
    /                    p
    /                      | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident...
    / Blog
    /.pt-100.pb-75
    /  .container
    /    .candia-heading.mb-80
    /      .candia-heading__main
    /        span.candia-category
    /          | ПОСЛЕДНИЕ НОВОСТИ
    /        h2.mb-20
    /          | Из блога
    /        .candia-line.mb-10
    /    .js-list-post.list-post.slick-big.slick-animation.slick-dark.row
    /      .col-md-6
    /        article.post.post--standard.mb-0
    /          header.entry-header
    /            .entry-header-content
    /              .entry-media.entry-media-thumbnail
    /                a[href="#"]
    /                  img[src="/assets/img-demo/blogs/1.jpg" alt="Candia Image"]
    /          .entry-container.text-center
    /            .post-time
    /              | october 28, 2016
    /            h2.entry-title
    /              a[href="#"]
    /                | Tasted New Brialiton Food
    /            .entry-meta
    /              ul.entry-meta-list
    /                li.light
    /                  | Posted by
    /                  a[href="#"]
    /                    | Candia Restaurants
    /                li
    /                  a.link-comment[href="#"]
    /                    i.fa.fa-eye[aria-hidden="true"]
    /                    | 70
    /                li
    /                  a.link-like[href="#"]
    /                    i.fa.fa-comment-o[aria-hidden="true"]
    /                    | 23
    /      .col-md-6
    /        article.post.post--standard.mb-0
    /          header.entry-header
    /            .entry-header-content
    /              .entry-media.entry-media-thumbnail
    /                a[href="#"]
    /                  img[src="/assets/img-demo/blogs/2.jpg" alt="Candia Image"]
    /          .entry-container.text-center
    /            .post-time
    /              | october 28, 2016
    /            h2.entry-title
    /              a[href="#"]
    /                | Stand Post
    /            .entry-meta
    /              ul.entry-meta-list
    /                li.light
    /                  | Posted by
    /                  a[href="#"]
    /                    | Candia Restaurants
    /                li
    /                  a.link-comment[href="#"]
    /                    i.fa.fa-eye[aria-hidden="true"]
    /                    | 70
    /                li
    /                  a.link-like[href="#"]
    /                    i.fa.fa-comment-o[aria-hidden="true"]
    /                    | 23
    /      .col-md-6
    /        article.post.post--standard.mb-0
    /          header.entry-header
    /            .entry-header-content
    /              .entry-media.entry-media-thumbnail
    /                a[href="#"]
    /                  img[src="img-demo/blogs/1.jpg" alt="Candia Image"]
    /          .entry-container.text-center
    /            .post-time
    /              | october 28, 2016
    /            h2.entry-title
    /              a[href="#"]
    /                | Stand Post
    /            .entry-meta
    /              ul.entry-meta-list
    /                li.light
    /                  | Posted by
    /                  a[href="#"]
    /                    | Candia Restaurants
    /                li
    /                  a.link-comment[href="#"]
    /                    i.fa.fa-eye[aria-hidden="true"]
    /                    | 70
    /                li
    /                  a.link-like[href="#"]
    /                    i.fa.fa-comment-o[aria-hidden="true"]
    /                    | 23
    /blockquote.blockquote-white.blockquote-parallax[data-init="parallax" data-parallax-image="/assets/img-demo/backgrounds/4.png"]
    /  .container
    /    .row
    /      .col-md-8.col-md-offset-2
    /        p
    /          | If you really want to make a friend, go to someone’s house and eat with him… the people who give you their food give you their heart.
    /        small
    /          | cherf - Robert Smith
    // NEWSLETTER
    /.newletter[data-init="parallax" data-parallax-image="/assets/img-demo/backgrounds/3.png"]
    /  .container
    /    .candia-heading.candia-heading--white.mb-40
    /      .candia-heading__main
    /        span.candia-category
    /          | sign up for newsletter
    /        h2.mb-20
    /          | Get Exclusive Deals Form Candia
    /    form[action="index.html"]
    /      .input-group
    /        input.form-control[type="text" placeholder="Enter your email address..."]
    /        span.input-group-btn
    /          button.btn.btn-default[type="button"]
    /            i.fa.fa-paper-plane[aria-hidden="true"]
