#page.site.site-default
  a.skip-link.sr-only[href="#main"]
    | Skip to content
  = render 'layouts/header'
  .site-main
    #rev_slider_202_1_wrapper.rev_slider_wrapper.fullscreen-container[data-alias="concept1" style="background-color:#000000;padding:0px;"]
      #rev_slider_202_1.rev_slider.fullscreenbanner[style="display:none;" data-version="5.1.1RC"]
        ul
          li[data-index="rs-670" data-transition="slideoverup" data-slotamount="7" data-easein="default" data-easeout="default" data-masterspeed="1000" data-rotate="0" data-saveperformance="off" data-title="Opening TImes" data-description=""]
            img.rev-slidebg[src="/assets/img-demo/slides/banner1.jpg" alt="Candia Image" data-bgposition="left center" data-kenburns="on" data-duration="30000" data-ease="Power1.easeOut" data-scalestart="110" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-no-retina]
            #slide-672-layer-1.tp-caption.tp-shape.tp-shapewrapper[data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full" data-height="full" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="opacity:0;s:1000;e:Power2.easeInOut;" data-transform_out="opacity:0;s:1000;s:1000;" data-start="0" data-basealign="slide" data-responsive_offset="off" data-responsive="off" style="z-index: 5;background-color:rgba(0, 0, 0, 0.5);border-color:rgba(0, 0, 0, 0);"]

            #slide-83-layer-1.tp-caption.Restaurant-Cursive.tp-resizeme[data-x="['right','right','center','center']" data-hoffset="['50','50','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['40','40','40','40']" data-fontsize="['60','60','50','40']" data-lineheight="['70','70','50','50']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeOut;" data-transform_out="opacity:0;s:1000;s:1000;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap; font-family: 'Playfair Display', serif; text-align: center; "]
              |
              br
              | Еда для души
            #slide-83-layer-2.tp-caption.Restaurant-Price.tp-resizeme[data-x="['right','right','center','center']" data-hoffset="['190','190','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['150','150','150','150']" data-fontsize="['20','20','20','20']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeOut;" data-transform_out="opacity:0;s:1000;s:1000;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-start="1100" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap; letter-spacing: 0;"]
              |
          li[data-index="rs-671" data-transition="slideoverup" data-slotamount="7" data-easein="default" data-easeout="default" data-masterspeed="1000" data-rotate="0" data-saveperformance="off" data-title="Opening TImes" data-description=""]
            img.rev-slidebg[src="/assets/img-demo/slides/banner2.jpg" alt="Candia Image" data-bgposition="left center" data-kenburns="on" data-duration="30000" data-ease="Power1.easeOut" data-scalestart="110" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-no-retina]
            #slide-671-layer-1.tp-caption.tp-shape.tp-shapewrapper[data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full" data-height="full" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="opacity:0;s:1000;e:Power2.easeInOut;" data-transform_out="opacity:0;s:1000;s:1000;" data-start="0" data-basealign="slide" data-responsive_offset="off" data-responsive="off" style="z-index: 5;background-color:rgba(0, 0, 0, 0.5);border-color:rgba(0, 0, 0, 0);"]

            #slide-671-layer-2.tp-caption.Restaurant-Display.tp-resizeme[data-x="['left','left','center','center']" data-hoffset="['50','50','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-50','-50','-50','-50']" data-fontsize="['20','20','15','15']" data-lineheight="['20','20','20','20']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeOut;" data-transform_out="opacity:0;s:1000;s:1000;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-start="700" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 5; font-weight: 500; white-space: nowrap; color: white; letter-spacing: 4px;"]
              |
            #slide-671-layer-3.tp-caption.Restaurant-Cursive.tp-resizeme[data-x="['left','left','center','center']" data-hoffset="['50','50','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['40','40','40','40']" data-fontsize="['60','60','50','40']" data-lineheight="['70','70','50','50']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeOut;" data-transform_out="opacity:0;s:1000;s:1000;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap; font-family: 'Playfair Display', serif; "]
              | всегда свежая продукция
            #slide-671-layer-4-1.tp-caption.Restaurant-Cursive.tp-resizeme[data-x="['left','left','center','center']" data-hoffset="['50','50','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['110','110','110','110']" data-fontsize="['60','60','50','40']" data-lineheight="['70','70','50','50']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeOut;" data-transform_out="opacity:0;s:1000;s:1000;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap; font-family: 'Playfair Display', serif; "]
              | вегетарианские блюда
            #slide-671-layer-5.tp-caption.Restaurant-Price.tp-resizeme[data-x="['left','left','center','center']" data-hoffset="['50','50','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['210','210','210','210']" data-fontsize="['20','20','20','20']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeOut;" data-transform_out="opacity:0;s:1000;s:1000;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-start="1100" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap; letter-spacing: 0;"]
              |
          li[data-index="rs-673" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-rotate="0" data-saveperformance="off" data-title="Web Show" data-description=""]
            img.rev-slidebg[src="/assets/img-demo/slides/banner3.jpg" alt="Candia Image" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" data-no-retina]
            #slide-673-layer-1.tp-caption.tp-shape.tp-shapewrapper[data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full" data-height="full" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="opacity:0;s:1000;e:Power2.easeInOut;" data-transform_out="opacity:0;s:1000;s:1000;" data-start="0" data-basealign="slide" data-responsive_offset="off" data-responsive="off" style="z-index: 5;background-color:rgba(0, 0, 0, 0.5);border-color:rgba(0, 0, 0, 0);"]

            #slide-672-layer-4.tp-caption.tp-resizeme.rs-parallaxlevel-2[data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-65','-65','-65','-65']" data-fontsize="['20','20','15','15']" data-lineheight="['20','20','20','20']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;" data-start="1500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; font-weight: 500; white-space: nowrap; color: white; letter-spacing: 4px;"]
              | кальяны и коктели
            #slide-672-layer-2.tp-caption.Concept-Title.tp-resizeme.rs-parallaxlevel-2[data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-fontsize="['60','60','50','40']" data-lineheight="['70','70','50','45']" data-width="['none','none','none','400']" data-height="none" data-whitespace="['nowrap','nowrap','nowrap','normal']" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;" data-start="1700" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap;text-align:center; font-weight: 400; font-family: 'Playfair Display', serif; letter-spacing: 0;"]
              |
            #slide-672-layer-5.tp-caption.tp-shape.tp-shapewrapper.tp-resizeme.rs-parallaxlevel-2[data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['88','80','70','70']" data-width="60" data-height="2" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:1500;e:Power3.easeOut;" data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;" data-mask_in="x:[-100%];y:0;s:inherit;e:inherit;" data-start="1900" data-responsive_offset="on" style="z-index: 8;background-color:rgba(255, 255, 255, 1.00);border-color:rgba(0, 0, 0, 0.50);"]

            #slide-672-layer-12.tp-caption.Concept-Notice.rs-parallaxlevel-2[data-x="['center','center','center','center']" data-hoffset="['1','1','1','1']" data-y="['top','top','top','top']" data-voffset="['548','497','606','484']" data-fontsize="['20','20','18','13']" data-lineheight="['30','30','30','30']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power3.easeInOut;" data-transform_out="auto:auto;s:300;" data-start="2300" data-splitin="none" data-splitout="none" data-responsive_offset="on" data-responsive="on" data-end="bytrigger" data-lasttriggerstate="reset" style="z-index: 10; white-space: nowrap;text-align:center; font-family: 'Roboto', sans-serif;"]
              .rs-looped.rs-slideloop[data-easing="Power1.easeInOut" data-speed="1" data-xs="0" data-xe="0" data-ys="10" data-ye="0"]
                | Кальянная
                br
                |  Это место создано для вашего отдыха от каменных джунглей
                br
                | ~
          li[data-index="rs-675" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-rotate="0" data-saveperformance="off" data-title="Web Show" data-description=""]
            img.rev-slidebg[src="/assets/img-demo/slides/banner4.jpg" alt="Candia Image" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" data-no-retina]
            #slide-675-layer-1.tp-caption.tp-shape.tp-shapewrapper[data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full" data-height="full" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="opacity:0;s:1000;e:Power2.easeInOut;" data-transform_out="opacity:0;s:1000;s:1000;" data-start="0" data-basealign="slide" data-responsive_offset="off" data-responsive="off" style="z-index: 4;background-color:rgba(0, 0, 0, 0.5);border-color:rgba(0, 0, 0, 0);"]

            #slide-675-layer-2.tp-caption.tp-resizeme.rs-parallaxlevel-2[data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-100','-100','-100','-100']" data-fontsize="['12','12','12','12']" data-lineheight="['30','30','30','30']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;" data-start="1200" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 5; white-space: nowrap; color: white; letter-spacing: 3px;"]
              i.fa.fa-star[aria-hidden="true"]
              i.fa.fa-star[aria-hidden="true"]
              i.fa.fa-star[aria-hidden="true"]
              i.fa.fa-star[aria-hidden="true"]
              i.fa.fa-star[aria-hidden="true"]
            #slide-675-layer-3.tp-caption.tp-resizeme.rs-parallaxlevel-2[data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-85','-85','-85','-85']" data-fontsize="['20','20','15','15']" data-lineheight="['20','20','20','20']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;" data-start="1500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; font-weight: 500; white-space: nowrap; color: white; letter-spacing: 4px;"]
              br
              | -  ИНДИЙСКОЕ КАФЕ ДЕЛИ   -

            #slide-675-layer-4.tp-caption.Concept-Title.tp-resizeme.rs-parallaxlevel-2[data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-fontsize="['60','60','50','40']" data-lineheight="['70','70','50','45']" data-width="['none','none','none','400']" data-height="none" data-whitespace="['nowrap','nowrap','nowrap','normal']" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;" data-start="1700" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap;text-align:center; font-weight: 400; font-family: 'Playfair Display', serif; letter-spacing: 0;"]
              |
            #slide-675-layer-5.tp-caption.rev-btn.rs-parallaxlevel-2[data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['502','452','541','417']" data-width="none" data-height="none" data-whitespace="nowrap" data-start="2100" data-splitin="none" data-splitout="none" data-responsive_offset="on" data-responsive="off" data-end="bytrigger" data-lasttriggerstate="reset" style="z-index: 9; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;"]
              .rs-looped.rs-slideloop[data-easing="Power1.easeInOut" data-speed="1" data-xs="0" data-xe="0" data-ys="10" data-ye="0"]
                a.btn.btn-default.btn-w200[href="#"]
                  | добро пожаловать
          li[data-index="rs-82" data-transition="slideoverup" data-slotamount="7" data-easein="default" data-easeout="default" data-masterspeed="1500" data-thumb="videos/cover-video.jpg" data-rotate="0" data-saveperformance="off" data-title="Drinks" data-description=""]
            img.rev-slidebg[src="/assets/videos/cover-video.jpg" alt="Candia Image" data-lazyload="videos/cover-video.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-no-retina]
            #slide-82-layer-1.tp-caption.tp-shape.tp-shapewrapper[data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full" data-height="full" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="opacity:0;s:1000;e:Power2.easeInOut;" data-transform_out="opacity:0;s:1000;s:1000;" data-start="0" data-basealign="slide" data-responsive_offset="off" data-responsive="off" style="z-index: 4;background-color:rgba(0, 0, 0, 0.5);border-color:rgba(0, 0, 0, 0);"]
  .candia-bg.pt-100.pb-100.bg-menu
    .container
      .row
        .col-md-6.col-md-offset-3
          .text-center
            .candia-heading.mb-80
              .candia-heading__main
                span.candia-category
                  | наслаждаться
                h2.mb-20
                  | Меню выбора шеф-повара
                .candia-line.mb-10
                p.fz-16
                  |
      .mb-30
        .row
          - @categories.all.where.not(name: ["Гарнир на выбор", "Горячее на выбор", "Супы на выбор", "Салат на выбор", "Гарнир на Напитки"]).each do |c|
            .col-md-6
              .mb-40
                h5.text-center.mb-35
                  = c.name
                - c.foods.where.not(price: "0").each do |fm|
                  .candia-catalog
                  .candia-catalog__left
                    h6.candia-catalog__name
                      = fm.name
                    p
                  .candia-catalog__right
                    .candia-catalog__price.custom_rpice
                      = fm.price.to_i
                      = " "
                    i.fa.fa-rub

      .text-center
        = link_to 'ГЛАВНАЯ', root_path, class: 'btn btn-primary btn-w200'
