.reservation-form
  = simple_form_for @reservation do |f|
    = f.text_field :name, placeholder: '* Имя'
    = f.text_field :group_size, placeholder: '* Количество гостей'
    = f.text_field :date, id: 'datepicker', as: :date, value: f.object.try(:strftime,"%m/%d/%Y"), class: 'form-control', placeholder: '* Дата'
    = f.text_field :time, id: 'timepicker', class: 'timepicker'

    .custom-input-for-table-type
      = f.input :table_type, collection: Reservation::TableTyes.collect {|c| c }, prompt: '* Тип стола', label: false
    = f.text_field :mobile_number, placeholder: '* Мобильный Номер'

    = f.button :submit, 'Найти таблицу'

