<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>
  <body>
    <h1>Информация о бронировании</h1>
    <ul>
      <li>Имя: Господин/Госпожа <b><%= @reservation.name.capitalize %></b> </li>
      <li><%= @reservation.group_size %> человек </li>
      <li>Дата: <%= @reservation.date.strftime("%A, %b %d %Y") %></li>
      <li>Время: <%= @reservation.time.strftime("%I:%M") %></li>
      <li>Тип стола: <%= @reservation.table_type %></li>
      <li>Мобильный Номер:<%= @reservation.mobile_number %></li>
    </ul>
  <p>
    Круто
  </p>
  </body>
</html>
