// Place all the styles related to the Reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.reservation-form {
  .custom-input-for-table-type {
    .select2-selection {
      height: 50px !important;
    }
  }

  input[placeholder], [placeholder], *[placeholder] {
    opacity: 0.5 !important;
  }
}

