footer#footer.site-footer.candia-bg-overlay.candia-bg.bg-footer.text-center
  .container
    .candia-logo.mb-30
      a[href="index.html"]
        = image_tag 'IndianCafeDehliLogo.png'
    ul.nav.navbar-nav.main-navigation.color-white.mb-10
      li.dropdown
        = link_to 'Главная', root_path, class: 'dropdown-toggle'

      li.dropdown
        a.dropdown-toggle[href="#" data-toggle="dropdown"]
          | Бронирование

        /ul.dropdown-menu
        /  li
        /    a[href="reservation-1.html"]f
        /      | Book a table
        /  li
        /    a[href="reservation-2.html"]
        /      | Choose date
        /  li
        /    a[href="reservation-3.html"]
        /      | Confirmation
        /  li
        /    a[href="reservation-4.html"]
        /      | Completed
      li.dropdown
        a.dropdown-toggle[href="#" data-toggle="dropdown"]
          | Меню

        /ul.dropdown-menu
        /  li
        /    a[href="menu-parallax.html"]
        /      | Menu Parallax
        /  li
        /    a[href="menu-text.html"]
        /      | Menu Text
        /  li
        /    a[href="menu-zigzag.html"]
        /      | Menu ZigZag


      li.dropdown
        a.dropdown-toggle[href="#" data-toggle="dropdown"]
          | Блог
          b.caret
      li
        a[href="#"]
          | Contact

    nav.candia-social.color-white.text-center.mb-40
      a[href="https://www.facebook.com/Indian-Cafe-Delhi-1374553779266477" title="Facebook" target = "_blank"]
        i.fa.fa-facebook[aria-hidden="true"]
        span.sr-only
          | Facebook

      a[href="https://www.instagram.com/indiancafedelhi/" title="Instagram" target = "_blank"]
        i.fa.fa-instagram[aria-hidden="true"]
        span.sr-only
          | Instagram

    .color-white.fz-12
      p
        | © 2017 ИНДИЙСКИЙ КАФЕ ДЕЛИ
        | .
      #loader-wrapper
        .loader-section
        #loader
          label
            |  ●
          label
            |  ●
          label
            |  ●
          label
            |  ●
          label
            |  ●
          label
            |  ●
