.site-header.site-header--transparent
  .container
    .site-header__content
      .center-height
        .center-height__item
          .candia-address
            p
              i.fa.fa-map-marker[aria-hidden="true"]
              |  м.Владимирская, ул.Разъезжая, д.7 📞 8(981)701-00-00
        .center-height__item
          .candia-logo.hidden-xs
            = image_tag 'IndianCafeDehliLogo.png'
          .candia-logo--small
            = image_tag 'IndianCafeDehliLogo.png'
        .center-height__item
          .candia-group.text-right
            nav.candia-social.hidden-sm
              a[href="https://www.facebook.com/Indian-Cafe-Delhi-1374553779266477" title="Facebook" target = "_blank"]
                i.fa.fa-facebook[aria-hidden="true"]
                span.sr-only
                  | Facebook
              a[href="https://www.instagram.com/indiancafedelhi/" title="Instagram" target = "_blank"]
                i.fa.fa-instagram[aria-hidden="true"]
                span.sr-only
                  | Instagram
              a[href="#" title="Tripadvisor"]
                i.fa.fa-tripadvisor[aria-hidden="true"]
                span.sr-only
                  | Tripadvisor
            .candia-dropdown.dropdown.text-uppercase
              a[data-target="#" href="#" data-toggle="dropdown" role="button"]
                | Ru
                i.fa.fa-chevron-down[aria-hidden="true"]
              ul.dropdown-menu
                li
                  a[href="#"]
                    | Eng
                li
                  a[href="#"]
                    | Ru
            .candia-dropdown.dropdown.text-uppercase
              a[data-target="#" href="#" data-toggle="dropdown" role="button"]
                | Руб
                i.fa.fa-chevron-down[aria-hidden="true"]
              ul.dropdown-menu
                li
                  a[href="#"]
                    | Руб
                li
                  a[href="#"]
                    | Usd
      nav.navbar.navbar-default.navbar-statis-top[role="navigation"]
        .navbar-header
          button.navbar-toggle[type="button" data-toggle="collapse" data-target="#main-navbar-collapse"]
            span.icon-bar
            span.icon-bar
            span.icon-bar
        .navbar-overlay
        #main-navbar-collapse.collapse.navbar-collapse
          button.navbar-toggle[type="button" data-toggle="collapse" data-target="#main-navbar-collapse"]
            span.icon-bar
            span.icon-bar
            span.icon-bar
          ul.nav.navbar-nav.main-navigation
            li
              = link_to 'Главная', root_path

            li
              a[href="#" data-toggle="dropdown"]
                | Бронирование

            li.dropdown
              a.dropdown-toggle[href="#" data-toggle="dropdown"]
                | Меню
                b.caret
              ul.dropdown-menu
                li
                  a[href=""]
                    | Бизнес ланч
                li = link_to 'Меню «Все дни»', menu_path

            li
              a[href="#" data-toggle="dropdown"]
                | Блог

            li
              a[href="#"]
                | Контакт
