doctype html
html
  head
    title
      = content_for?(:title) ? yield(:title) : 'ИНДИЙСКИЙ КАФЕ ДЕЛИ СПБ'
    meta name="description" content="#{yield_meta_tag(:description, 'IndianCafeDelhi Saint Petersburg')}"
    meta name="keywords" content="#{yield_meta_tag(:keywords, 'IndianCafeDelhi Saint Petersburg')}"
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'

  body.mjpicker-color-candia
    = render 'toastr_rails/flash'
    = yield
    = render 'layouts/footer'
    
  

//javascript:
//  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
//  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
//  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
//  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
//
//  ga('create', 'UA-101658796-1', 'auto');
//  ga('send', 'pageview');
